In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('shop_data.csv')
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [31]:
df['income'].unique()

array(['high', 'medium', 'low'], dtype=object)

In [32]:
income_order = ['low', 'medium', 'high']

In [33]:
from sklearn.preprocessing import OrdinalEncoder

In [34]:
enco = OrdinalEncoder(categories=[income_order])

In [35]:
enco.fit(df[['income']])

OrdinalEncoder(categories=[['low', 'medium', 'high']])

In [36]:
final = pd.DataFrame(enco.transform(df[['income']]))

In [37]:
df['income'] = final

In [38]:
df

      age  income  gender m_status buys
0     <25     2.0    male   single   no
1     <25     2.0    male  married   no
2   25-35     2.0    male   single  yes
3     >35     1.0    male   single  yes
4     >35     0.0  female   single  yes
5     >35     0.0  female   single   no
6   25-35     0.0  female  married  yes
7     <25     1.0    male  married   no
8     <25     0.0  female   single  yes
9     >35     1.0  female  married  yes
10    <25     1.0  female   single  yes
11  25-35     1.0    male  married  yes
12  25-35     2.0  female   single  yes
13    >35     1.0    male  married   no
14    <25     2.0    male   single   no

In [39]:
from sklearn.preprocessing import LabelEncoder

In [40]:
le = LabelEncoder()

In [ ]:
df['age'] = le.fit_transform(df['age'])
df